.wrap {

}

.front-page {

}

.header-logo {
    text-align: center;
    display: block;
}

.toggle-menu {
    display: block;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.normal_logo {
    max-height: 65px;
}